@model LaCeibaNetv4.Models.ProgramClientTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProgramClientTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientsTbl.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientsTbl.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramTbl.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramTbl.Program)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
