
@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        #IndicatorBox {
            border: 1px #413f3f solid;
            padding: 5px;
            border-radius: 8px;
            box-shadow: 0 0 6px #ccc;
            background-color: #fff;
        }
    </style>

</head>

<div class="jumbotron">
    <h1>Welcome To LaCeibaNet!</h1>


</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/CEIBA2-231x300.jpg" class="img-responsive" style="margin:auto" />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Indicators</h2>

        <h4 id="IndicatorBox">
            Active Clients :

            @ViewBag.ActiveClients
        </h4>


        <h4 id="IndicatorBox">
            Repyament Rate :
            @ViewBag.RepaymentRate %
        </h4>
        <h4 id="IndicatorBox">
            <abbr title="Gross Loan Portfolio">GLP</abbr> :
             @ViewBag.GLP HNL
        </h4>
        <h4 id="IndicatorBox">
            <abbr title="Average Loan Size">ALS </abbr> :
             @ViewBag.ALS HNL
        </h4>
        <h4 id="IndicatorBox">
            <abbr title="Portfolio At Risk">PAR</abbr> :
            @ViewBag.PAR % > 30 days
        </h4>
        <h4 id="IndicatorBox">
            <abbr title="Value At Risk">VAR</abbr> :
            @ViewBag.VAR HNL
        </h4>
        <h4 id="IndicatorBox">
            Interest Receivable :
            @ViewBag.IR HNL
        </h4>
        <h4 id="IndicatorBox">
            Interest Revenue :
            @ViewBag.IRev HNL
        </h4>
    </div>

    <div class="col-md-3">


    </div>

    <div class="col-md-3">

    </div>

    <div class="col-md-3">

    </div>
</div>
