@model LaCeibaNetv4.Models.ClientsTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientsTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterTbl.Center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterTbl.Center)
        </dd>
        <dt>
        Programs Enrolled
        </dt>
        @*<dd>
            @Html.DropDownList("testit", null, htmlAttributes: new { @class = "form-control" })
        </dd>*@
        @foreach (var item in Model.ProgramClientTbls)
        {
        <dd>
            @item.ProgramTbl.Program
            @Html.ActionLink("Show Rounds", "IndRoundShow", new { controller =  "ProgramClientTbls", id = item.Id })
        </dd>

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
